.d-none {
    display: none;
}
.oneline{
    white-space: nowrap;
    overflow-x: auto;
    background-color: #EEEDED;
    border-radius: 25px;
    padding: 4px;
    text-align: center;  
    margin-bottom: 1rem;
}
.onebox{
    border-radius: 25px;
}

.itemline{
    display: inline-block;
}










