{% extends "base_scolarité.html" %}
{% load i18n %}
{% load static %}
{% block title %} Leçon {% endblock %}
{% block hierarchy %}
<li><a href="{% url "scolarité_home" %}"><i class="icon-home2 position-left"></i>Accueil</a></li>
<li><a href="{% url "levels_list" %}">{% trans "Gestion des Niveaux scolaires " %} </a></li>
<li class="active">{% trans "Leçon" %} </li>
{% endblock %}

{% block content_area %}
<link href="{% static 'css/leçon.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% if messages %} {% for message in messages %}
<div id="messages">
	<div class="alert bg-{{ message.tags }} alert-styled-left" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
		<div class="alert-icon">
			<i class="icon-info"></i>
		</div>
		<div class="alert-message">
			<span style="font-weight: 700;">{{message}}</span>
		</div>
	</div>
</div>
{% endfor %}{% endif %}

<!-- Grid -->
<div class="row">


	<div class="col-md-4">

		<!-- Horizontal form -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h4 class="panel-title" style="font-weight: 500;">Leçon</h4>
				<div class="heading-elements">
					<ul class="icons-list">
						<li><a href="{% url 'view_lesson' lesson.pk %}"><i class="glyphicon glyphicon-eye-open"
									style="font-size: 16px;"></i></a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal_form_vertical"><i
									class="glyphicon glyphicon-edit" style="font-size: 16px;"></i></a></li>

						<!-- Vertical form modal -->
						<div id="modal_form_vertical" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h5 class="modal-title">
											Modifier Leçon</h5>
									</div>
									<div class="panel-body">

										<form method="POST" action=".">
											{% csrf_token %}

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<h6 class="text-muted text-size-small">Chapiter:</h6>
														{{ form.chapiter }}
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<h6 class="text-muted text-size-small">Leçon:</h6>
														{{ form.lesson }}
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<h6 class="text-muted text-size-small">Compétence:</h6>

														{{ form.skill }}
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<h6 class="text-muted text-size-small">Vacations:</h6>

														{{ form.vacations }}
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<h6 class="text-muted text-size-small">Lien:</h6>

														{{ form.link }}
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<h6 class="text-muted text-size-small">Arrangement:</h6>

														{{ form.order }}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<h6 class="text-muted text-size-small">Remarques:</h6>

														{{ form.remarques }}
													</div>
												</div>

												<div class="row">
													<div class="col-md-1">
														<div class="form-group">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<h6 class="text-muted">Visible:{{ form.state }}</h6>

														</div>
													</div>
												</div>


												<div class="modal-footer">
													<button type="button" class="btn btn-link"
														data-dismiss="modal">Annuler</button>
													<button type="submit" class="btn btn-primary"
														name="LessonForm">Enregistrer</button>
												</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- /vertical form modal -->
					</ul>
				</div>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Niveau:</label>
							{{ lesson.level.name }} </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Matiére:</label>
							{{ lesson.subject.name }} </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Chapiter:</label>
							{{ lesson.chapiter }} </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Leçon:</label>
							{{ lesson.lesson }} </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Compétence:</label>
							{{ lesson.skill }} </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Vacations:</label>
							{{ lesson.vacations }} </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						{% if lesson.link %}
						<div class="form-group">
							<label style="font-weight: 500;">Lien:</label>
							<a href="{{ lesson.link }}">visite</a> </div>
							{% else %}
							<label style="font-weight: 500;">Lien:</label>
							aucun lien
							{%endif%}
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Arrangement:</label>
							{{ lesson.order }} </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label style="font-weight: 500;">Remarques:</label>
							{{ lesson.remarques }} </div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Visible: </label>
							{% if lesson.state == True %}
							<i class="icon-eye"></i>
							{% else %}
							<i class="icon-eye-blocked"></i>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">vues: </label>
							{{lesson.views}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /horizotal form -->


	</div>

	<div class="col-md-8">

		<!-- Vertical form -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title" style="font-weight: 500;">Médias</h5>
				<div class="heading-elements">
					<ul class="icons-list">
						<li><a data-action="collapse"></a></li>
					</ul>
				</div>
			</div>

			<div class="panel panel-flat">
				<div class="panel-body">
					<div class="tabbable">
						<ul class="nav nav-tabs nav-tabs-highlight nav-justified">
							<li class="active"><a href="#highlighted-justified-tab1" data-toggle="tab">vidéos</a></li>
							<li><a href="#highlighted-justified-tab2" data-toggle="tab">images</a></li>
							<li><a href="#highlighted-justified-tab3" data-toggle="tab">documents</a></li>
							<li><a href="#highlighted-justified-tab4" data-toggle="tab">liens</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="highlighted-justified-tab1">

								<!-- Inside page title -->
								<div class="breadcrumb-line breadcrumb-line-component">
									<ul class="breadcrumb">
										<i class="icon-video-camera3" style="font-size: 34px;"></i>
									</ul>

									<ul style="float: right;margin: 1rem;">
										<a class="btn btn-xs bg-pink-400 btn-raised heading-btn legitRipple"
											href="{% url 'add_lesson_video' lesson.id %}"><i
												class="icon-add position-left"></i> Ajouter </a>
									</ul>
								</div>


								<div class="row">
									<br>
									{% for video in videos %}
									<div class="col-lg-6 col-sm-6">
										<div class="thumbnail" style="box-shadow:1px 1px 6px gray;">
											<div class="video-container">
												<video controls play style="width:100%;">
													<source src="{{video.video.url}}">
												</video>
											</div>
											<div class="caption">
												<h6 class="no-margin"><a href="#"
														class="text-default">{{video.title}}</a>

													<a href="#myModal" data-toggle="modal" 
														class="text-muted"><i class="icon-trash pull-right"
															style="margin-left:1rem;"></i></a>
													<!-- Modal HTML -->
													<div id="myModal" class="modal fade">
														<div class="modal-dialog modal-confirm">
															<div class="modal-content">
																<div class="modal-header flex-column">
																	<div class="icon-box2">
																		<i class="material-icons">&#xE5CD;</i>
																	</div>
																	<h4 class="modal-title w-100">
																		Voulez-vous vraiment le supprimer?</h4>
																	<button type="button" class="close"
																		data-dismiss="modal"
																		aria-hidden="true">&times;</button>
																</div>
																<div class="modal-body">
																	<p>
																		cette video seront supprimés
																		définitivement</p>
																</div>
																<div class="modal-footer justify-content-center">
																	<button type="button" class="btn btn-secondary"
																		data-dismiss="modal">Annuler</button>
																	<a href="{% url 'delete_lesson_video' video.pk %}"><button
																			type="button"
																			class="btn btn-danger">Supprimer</button></a>
																</div>
															</div>
														</div>
													</div>

													<a href="{% url 'edit_lesson_video' lesson.pk video.pk %}"
														class="text-muted"><i class="icon-pencil5 pull-right"></i></a>
												</h6>
												<mark><small><i class="icon-eye2"></i> {{video.views}}</small></mark>
											</div>

										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane" id="highlighted-justified-tab2">
								<!-- Inside page title -->
								<div class="breadcrumb-line breadcrumb-line-component">
									<ul class="breadcrumb">
										<i class="icon-images3" style="font-size: 34px;"></i>
									</ul>

									<ul style="float: right;margin: 1rem;">
										<a class="btn btn-xs bg-pink-400 btn-raised heading-btn legitRipple"
											href="{% url 'add_lesson_image' lesson.id %}"><i
												class="icon-add position-left"></i> Ajouter </a>
									</ul>
								</div>
								<div class="row">
									<br>
									{% for image in images%}
									<div class="col-md-4">
										<div class="thumbnail" style="box-shadow:1px 1px 6px gray;height: 23rem;">
											<div class="thumb">
												<img src="{{image.image.url}}" alt="" style="height: 15rem;">
												<div class="caption-overflow">
													<span>
														<a href="{{image.image.url}}"
															class="btn btn-flat border-white text-white btn-rounded btn-icon"
															data-popup="lightbox"><i class="icon-zoomin3"></i></a>
														<a href="{% url 'edit_lesson_image' lesson.pk image.pk %}"
															class="btn btn-flat border-white text-white btn-rounded btn-icon"><i
																class="icon-pencil5"></i></a>

														<a a href="#myModal2" data-toggle="modal" 
															class="btn btn-flat border-white text-white btn-rounded btn-icon"><i
																class="icon-trash"></i></a>  
													</span>
													<small><i class="icon-eye2"></i> {{image.views}}</small>
												</div>
											</div>

											<div class="caption">
												<p>{{image.title}}</p>
											</div>
										</div>
									</div>

									<div id="myModal2" class="modal fade">
										<div class="modal-dialog modal-confirm">
											<div class="modal-content">
												<div class="modal-header flex-column">
													<div class="icon-box2">
														<i class="material-icons">&#xE5CD;</i>
													</div>
													<h4 class="modal-title w-100">
														Voulez-vous vraiment le supprimer?</h4>
													<button type="button" class="close"
														data-dismiss="modal"
														aria-hidden="true">&times;</button>
												</div>
												<div class="modal-body">
													<p>
														cette image seront supprimés
														définitivement</p>
												</div>
												<div class="modal-footer justify-content-center">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Annuler</button>
													<a href="{% url 'delete_lesson_image' image.pk %}"><button
															type="button"
															class="btn btn-danger">Supprimer</button></a>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							

							<div class="tab-pane" id="highlighted-justified-tab3">
								<!-- Inside page title -->
								<div class="breadcrumb-line breadcrumb-line-component">
									<ul class="breadcrumb">
										<i class="icon-files-empty2" style="font-size: 34px;"></i>
									</ul>

									<ul style="float: right;margin: 1rem;">
										<a class="btn btn-xs bg-pink-400 btn-raised heading-btn legitRipple"
											href="{% url 'add_lesson_document' lesson.id %}"><i
												class="icon-add position-left"></i> Ajouter </a>
									</ul>
								</div>
								<br>
								{% for document in documents %}
								<div class="panel panel-white">
									<div class="panel-heading">
										<h6 class="panel-title">{{document.title}}</h6>
										<mark><small><i class="icon-eye2"></i> {{document.views}}</small></mark>
										<div class="heading-elements">
											<ul class="icons-list">
												<li><a href="{{document.document.url}}" target="new"><i
															class="glyphicon glyphicon-eye-open"></i></a></li>
												<li><a href="{% url 'edit_lesson_document' lesson.pk document.pk%}"><i
															class="glyphicon glyphicon-edit"></i></a></li>
												<li><a href="#myModal3" data-toggle="modal"><i
															class="glyphicon glyphicon-trash"></i></a></li>
													
											</ul>
										</div>
									</div>
								</div>


								<div id="myModal3" class="modal fade">
									<div class="modal-dialog modal-confirm">
										<div class="modal-content">
											<div class="modal-header flex-column">
												<div class="icon-box2">
													<i class="material-icons">&#xE5CD;</i>
												</div>
												<h4 class="modal-title w-100">
													Voulez-vous vraiment le supprimer?</h4>
												<button type="button" class="close"
													data-dismiss="modal"
													aria-hidden="true">&times;</button>
											</div>
											<div class="modal-body">
												<p>
													cette document seront supprimés
													définitivement</p>
											</div>
											<div class="modal-footer justify-content-center">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Annuler</button>
												<a href="{% url 'delete_lesson_document' document.pk %}"><button
														type="button"
														class="btn btn-danger">Supprimer</button></a>
											</div>
										</div>
									</div>
								</div>

								{% endfor %}
							</div>


							<div class="tab-pane" id="highlighted-justified-tab4">
								<!-- Inside page title -->
								<div class="breadcrumb-line breadcrumb-line-component">
									<ul class="breadcrumb">
										<i class="icon-link2" style="font-size: 34px;"></i>
									</ul>

									<ul style="float: right;margin: 1rem;">
										<a data-toggle="modal" data-target="#modal_form_vertical2"
											class="btn btn-xs bg-pink-400 btn-raised heading-btn legitRipple"
											href="#"><i class="icon-add position-left"></i> Ajouter </a>

									</ul>
								</div>


								<div id="modal_form_vertical2" class="modal fade">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h5 class="modal-title">Ajouter Urls</h5>
											</div>

											<form action="." method="POST">
												{% csrf_token %}
												<div class="modal-body">
													<div class="form-group">
														<div class="row">
															<div class="col-sm-12">
																<label>Titre:</label>
																{{form1.title}}
															</div>
														</div>
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-sm-12">
																<label>Lien:</label>
																{{form1.link}}
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-link"
														data-dismiss="modal">Annuler</button>
													<button name="UrlForm" type="submit"
														class="btn btn-primary">Enregistrer</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- /vertical form modal -->
								<br>
								{% for url in urls %}
								<div class="panel panel-white">
									<div class="panel-heading">
										<h6 class="panel-title">{{url.title}}</h6>

										<div class="heading-elements">
											<ul class="icons-list">
												<li><a href="{{ url.link }}" target="new"><i
															class="glyphicon glyphicon-eye-open"></i></a></li>
												<li><a  href="#myModal4" data-toggle="modal" ><i
															class="glyphicon glyphicon-trash"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<div id="myModal4" class="modal fade">
									<div class="modal-dialog modal-confirm">
										<div class="modal-content">
											<div class="modal-header flex-column">
												<div class="icon-box2">
													<i class="material-icons">&#xE5CD;</i>
												</div>
												<h4 class="modal-title w-100">
													Voulez-vous vraiment le supprimer?</h4>
												<button type="button" class="close"
													data-dismiss="modal"
													aria-hidden="true">&times;</button>
											</div>
											<div class="modal-body">
												<p>
													cette Url seront supprimés
													définitivement</p>
											</div>
											<div class="modal-footer justify-content-center">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Annuler</button>
												<a href="{% url 'delete_lesson_url' url.pk%}"><button
														type="button"
														class="btn btn-danger">Supprimer</button></a>
											</div>
										</div>
									</div>
								</div>

								{% endfor %}
							</div>





						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /vertical form -->

</div>
</div>


{% endblock content_area %}