{% extends "base_scolarité.html" %}
{% load i18n %}
{% load static %}
{% block title %} Leçon {% endblock %}
{% block hierarchy %}
<li><a href="{% url "scolarité_home" %}"><i class="icon-home2 position-left"></i>Accueil</a></li>
<li><a href="{% url "levels_list" %}">{% trans "Gestion des Niveaux scolaires " %} </a></li>
<li class="active">{% trans "Leçon" %} </li>
{% endblock %}

{% block content_area %}
{% if messages %} {% for message in messages %}
<div class="tab-pane" id="messages">
	<div class="alert alert-{{ message.tags }}" role="alert">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div class="alert-icon">
			<i class="icon-info"></i>
		</div>
		<div class="alert-message">
			<span style="font-weight: 700;">{{message}}</span>
		</div>
	</div>
</div>
{% endfor %}{% endif %}

<!-- Grid -->
<div class="row">


	<div class="col-md-4">

		<!-- Horizontal form -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h4 class="panel-title" style="font-weight: 500;">Leçon</h4>
			</div>

			<div class="panel-body">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Chapiter:</label>
							{{ lesson.chapiter }} </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Leçon:</label>
							{{ lesson.lesson }} </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Compétence:</label>
							{{ lesson.skill }} </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Vacations:</label>
							{{ lesson.vacations }} </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						{% if lesson.link %}
						<div class="form-group">
							<label style="font-weight: 500;">Lien:</label>
							<a href="{{ lesson.link }}">visite</a> </div>
						{% else %}
						<label style="font-weight: 500;">Lien:</label>
						aucun lien
						{%endif%}
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Arrangement:</label>
							{{ lesson.order }} </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label style="font-weight: 500;">Remarques:</label>
							{{ lesson.remarques }} </div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label style="font-weight: 500;">Visible: </label>
							{% if lesson.state == True %}
							<i class="icon-eye"></i>
							{% else %}
							<i class="icon-eye-blocked"></i>
							{% endif %}


						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- /horizotal form -->


	</div>

	<div class="col-md-8">

		<!-- Vertical form -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title" style="font-weight: 500;">Médias</h5>
				<div class="heading-elements">
					<ul class="icons-list">
						<li><a data-action="collapse"></a></li>
					</ul>
				</div>
			</div>

			<div class="panel panel-flat">
				<div class="panel-body">
					<div class="tabbable">
						<ul class="nav nav-tabs nav-tabs-highlight nav-justified">
							<li class="active"><a href="#highlighted-justified-tab1" data-toggle="tab">vidéos</a></li>
							<li><a href="#highlighted-justified-tab2" data-toggle="tab">images</a></li>
							<li><a href="#highlighted-justified-tab3" data-toggle="tab">documents</a></li>
							<li><a href="#highlighted-justified-tab4" data-toggle="tab">liens</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="highlighted-justified-tab1">

								<!-- Inside page title -->
								<div class="breadcrumb-line breadcrumb-line-component">
									<ul class="breadcrumb">
										<i class="icon-video-camera3" style="font-size: 34px;"></i>
									</ul>
								</div>

								<div class="row">
									<br>
									{% for video in videos %}
									<div class="col-lg-6 col-sm-6">
										<div class="thumbnail" style="box-shadow:1px 1px 6px gray;">
											<div class="thumb">
												<div class="video-container">
													<video style="width:100%;">
														<source src="{{video.video.url}}">
													</video>
												</div>
												<div class="caption-overflow">
													<span>
														<a href="{% url 'view_video' video.pk %}"
															class="counterI btn btn-flat border-white text-white btn-rounded btn-icon"
															data-popup="lightbox"><i class="icon-play4"></i></a>
													</span>
												</div>
											</div>
											<div class="caption">
												<h6 class="no-margin"><a href="#"
														class="text-default">{{video.title}}</a>
												</h6>
											</div>

										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane" id="highlighted-justified-tab2">
								<!-- Inside page title -->
								<div class="breadcrumb-line breadcrumb-line-component">
									<ul class="breadcrumb">
										<i class="icon-images3" style="font-size: 34px;"></i>
									</ul>
								</div>
								<div class="row">
									<br>
									{% for image in images%}
									<div class="col-md-4">
										<div class="thumbnail" style="box-shadow:1px 1px 6px gray;height: 23rem;">
											<div class="thumb">
												<img src="{{image.image.url}}" alt="" style="height: 15rem;">
												<div class="caption-overflow">
													<span>
														<a id="button-{{ image.pk}}" href="{{image.image.url}}"
															class="counterI btn btn-flat border-white text-white btn-rounded btn-icon"
															data-popup="lightbox"><i class="icon-zoomin3"></i></a>
													</span>
												</div>
											</div>

											<div class="caption">
												<p>{{image.title}}</p>
											</div>
										</div>
									</div>
									<script>
										$(".counterI").click(function () {
											var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
											$.ajax({
												url: "{% url 'ajax_image_views' image.pk %}",
												data: {
													'pk': $(this).attr('id')
												},
											});
										});
									</script>
									{% endfor %}
								</div>
							</div>

							<div class="tab-pane" id="highlighted-justified-tab3">
								<!-- Inside page title -->
								<div class="breadcrumb-line breadcrumb-line-component">
									<ul class="breadcrumb">
										<i class="icon-files-empty2" style="font-size: 34px;"></i>
									</ul>
								</div>
								<br>
								{% for document in documents %}
								<div class="panel panel-white">
									<div class="panel-heading">
										<h6 class="panel-title">{{document.title}}</h6>
										<div class="heading-elements">
											<ul class="icons-list">
												<li><a class="counterD" id="button-{{ document.pk}}"
														href="{{document.document.url}}" target="new"><i
															class="icon-download4"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<script>
									$(".counterD").click(function () {
										var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
										$.ajax({
											url: "{% url 'ajax_document_views' document.pk %}",
											data: {
												'pk': $(this).attr('id')
											},
										});
									});
								</script>
								{% endfor %}
							</div>


							<div class="tab-pane" id="highlighted-justified-tab4">
								<!-- Inside page title -->
								<div class="breadcrumb-line breadcrumb-line-component">
									<ul class="breadcrumb">
										<i class="icon-link2" style="font-size: 34px;"></i>
									</ul>
								</div>


								<div id="modal_form_vertical2" class="modal fade">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h5 class="modal-title">Add Urls</h5>
											</div>

											<form action="." method="POST">
												{% csrf_token %}
												<div class="modal-body">
													<div class="form-group">
														<div class="row">
															<div class="col-sm-12">
																<label>Titre:</label>
																{{form1.title}}
															</div>
														</div>
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-sm-12">
																<label>Lien:</label>
																{{form1.link}}
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-link"
														data-dismiss="modal">Annuler</button>
													<button name="UrlForm" type="submit"
														class="btn btn-primary">Enregistrer</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- /vertical form modal -->
								<br>
								{% for url in urls %}
								<div class="panel panel-white">
									<div class="panel-heading">
										<h6 class="panel-title">{{url.title}}</h6>

										<div class="heading-elements">
											<ul class="icons-list">
												<li><a class="counterU" id="button-{{ url.pk}}" href="{{ url.link }}" target="new"><i
															class="glyphicon glyphicon-eye-open"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<script>
									$(".counterU").click(function () {
										var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
										$.ajax({
											url: "{% url 'ajax_url_views' url.pk %}",
											data: {
												'pk': $(this).attr('id')
											},
										});
									});
								</script>
								{% endfor %}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /vertical form -->

</div>
</div>
<!-- /grid -->
{% endblock content_area %}