{% extends "base_scolarité.html" %}
{% load i18n %}
{% load static %}



{% block title %} Leçon {% endblock %}
{% block hierarchy %}
<li><a href="{% url "scolarité_home" %}"><i class="icon-home2 position-left"></i>Accueil</a></li>
<li><a href="{% url "levels_list" %}">{% trans "Gestion des Niveaux scolaires " %} </a></li>


<li class="active">{% trans "Ajouter Un Leçon" %} </li>
{% endblock %}

{% block content_area %}
<link href="{% static 'css/leçon.css' %}" rel="stylesheet" type="text/css" />

<div class="row" style="margin-left:0px;">
    <div>

        <form method="POST" action="." class="needs-validation" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="panel panel-flat col-md-8">
                <div class="row" style="margin:1rem;margin-right: -1rem;">
                    <div class="col-md-6">
                        <h4>Document file</h4>
                        <p>add your Document here, only documents formats are allowed.</p><br>
                        <div style="margin: 1rem;">
                            {{form.document}}
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div style="margin: 1rem;">
                            <img id="show" src="{% static 'img/leçon/doc.jpg'%}" class="img-thumbnail"
                                style="border-radius:10px;box-shadow:3px 3px 6px gray;display:block;"><br>
                        </div>
                        <div id="images" style="margin: 1rem;">

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h4 class="panel-title">Document info</h4>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Title:</label>
                            {{form.title}}

                        </div>
                        <div class="form-group">
                            <button value="save data" id="save_btn" style="width: 100%;" class="btn bg-teal legitRipple"
                                type="submit" onclick="check_ex()">Save
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- /static mode -->
    </div>
</div>
<script src="{% static 'js/documents.js'%}"></script>
{% endblock content_area %}