{% extends "base_scolarité.html" %}
{% load i18n %}
{% load static %}
{% block title %} Leçon {% endblock %}
{% block hierarchy %}
<li><a href="{% url "scolarité_home" %}"><i class="icon-home2 position-left"></i>Accueil</a></li>
<li><a href="{% url "levels_list" %}">{% trans "Gestion des Niveaux scolaires " %} </a></li>
<li class="active">{% trans "Edit Leçons" %} </li>
{% endblock %}

{% block content_area %}
<!-- Grid -->
<div class="row">
	<div class="col-md-4">

		<!-- Horizontal form -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Leçon info</h5>
				<div class="heading-elements">
					<ul class="icons-list">
						<li><a href="#" data-toggle="modal" data-target="#modal_form_vertical"><i
									class="glyphicon glyphicon-edit"></i></a></li>
						<!-- Vertical form modal -->
						<div id="modal_form_vertical" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h5 class="modal-title">Edit Leçon</h5>
									</div>
									<div class="panel-body">

										<form method="POST" action=".">
											{% csrf_token %}
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														{{ form.level_id }}
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														{{ form.subject_id }}
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														{{ form.chapiter }} </div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														{{ form.lesson }} </div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														{{ form.skill }} </div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														{{ form.vacations }} </div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														{{ form.link }} </div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														{{ form.order }} </div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														{{ form.remarques }} </div>
												</div>

												<div class="row">
													<div class="col-md-1">
														<div class="form-group">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">

															<h6 style="font-weight: 500;">Visible: {{ form.state }}</h6>
														</div>
													</div>
												</div>


												<div class="modal-footer">
													<button type="button" class="btn btn-link"
														data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary"
														name="LessonForm">Save</button>
												</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- /vertical form modal -->
					</ul>
				</div>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Level id:</label>
							{{ lesson.level_id }}
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Subject id:</label>
							{{ lesson.subject_id }} </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Chapiter:</label>
							{{ lesson.chapiter }} </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Lesson:</label>
							{{ lesson.lesson }} </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Skill:</label>
							{{ lesson.skill }} </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Vacations:</label>
							{{ lesson.vacations }} </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Link:</label>
							{{ lesson.link }} </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight: 500;">Order:</label>
							{{ lesson.order }} </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label style="font-weight: 500;">Remarques:</label>
							{{ lesson.remarques }} </div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label style="font-weight: 500;">Visible:</label>
							{{ lesson.state }} </div>
					</div>

				</div>
			</div>
		</div>
		<!-- /horizotal form -->

	</div>

	<div class="col-md-8">

		<!-- Vertical form -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Leçon media</h5>
				<div class="heading-elements">
					<ul class="icons-list">
						<li><a data-action="collapse"></a></li>
					</ul>
				</div>
			</div>

			<div class="panel panel-flat">
				<div class="panel-body">
					<div class="tabbable">
						<ul class="nav nav-tabs nav-tabs-highlight nav-justified">
							<li class="active"><a href="#highlighted-justified-tab1" data-toggle="tab">videos</a></li>
							<li><a href="#highlighted-justified-tab2" data-toggle="tab">images</a></li>
							<li><a href="#highlighted-justified-tab3" data-toggle="tab">documents</a></li>
							<li><a href="#highlighted-justified-tab4" data-toggle="tab">urls</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="highlighted-justified-tab1">



								<!-- Inside page title -->
								<div class="page-header-content">
									<div>
										<h6>
											videos list:
										</h6>
									</div>
									<div class="heading-elements">
										<a class="btn btn-xs bg-pink-400 btn-raised heading-btn legitRipple"
											href="{% url 'add_lesson_video' lesson.id %}"><i
												class="icon-add position-left"></i> Ajouter </a>
									</div>
								</div>
								<hr>
								<div class="row">
									{% for video in videos %}
									<div class="col-lg-6 col-sm-6">
										<div class="thumbnail" style="box-shadow:1px 1px 6px gray;">
											<div class="video-container">
												<video controls play style="width: 31rem;">
													<source src="{{video.video.url}}">
												</video> </div>

											<div class="caption">
												<h6 class="no-margin"><a href="#"
														class="text-default">{{video.title}}</a>

													<a href="{% url 'delete_lesson_video' video.pk %}"
														class="text-muted"><i class="icon-trash pull-right"
															style="margin-left:1rem;"></i></a>
													<a href="{% url 'edit_lesson_video' lesson.pk video.pk %}"
														class="text-muted"><i class="icon-pencil5 pull-right"></i></a>
												</h6>
											</div>

										</div>
									</div>
									{% endfor %}
								</div>
							</div>




							<div class="tab-pane" id="highlighted-justified-tab2">
								<!-- Inside page title -->
								<div class="page-header-content">
									<div>
										<h6>
											Images list:
										</h6>
									</div>
									<div class="heading-elements">
										<a class="btn btn-xs bg-pink-400 btn-raised heading-btn legitRipple" href="{% url 'add_lesson_image' lesson.id %}"><i
												class="icon-add position-left"></i> Ajouter </a>
									</div>
								</div>
								<hr>
								<div class="row">
									{% for image in images%}
									<div class="col-md-4">
										<div class="thumbnail" style="box-shadow:1px 1px 6px gray;">
											<div class="thumb">
												<img src="{{image.image.url}}" alt="">
												<div class="caption-overflow">
													<span>
														<a href="{{image.image.url}}"
															class="btn btn-flat border-white text-white btn-rounded btn-icon"
															data-popup="lightbox"><i class="icon-zoomin3"></i></a>
														<a href="{% url 'edit_lesson_image' lesson.id image.pk %}"
															class="btn btn-flat border-white text-white btn-rounded btn-icon"><i
																class="icon-pencil5"></i></a>
														<a href="{% url 'delete_lesson_image' image.pk %}"
															class="btn btn-flat border-white text-white btn-rounded btn-icon"><i
																class="icon-trash"></i></a>
													</span>
												</div>
											</div>

											<div class="caption">
												<p>{{image.title}}</p>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>





							<div class="tab-pane" id="highlighted-justified-tab3">
								<!-- Inside page title -->
								<div class="page-header-content">
									<div>
										<h6>
											Documents list:
										</h6>
									</div>
									<div class="heading-elements">
										<a class="btn btn-xs bg-pink-400 btn-raised heading-btn legitRipple" href="#"><i
												class="icon-add position-left"></i> Ajouter </a>
									</div>
								</div>
								<hr>
							</div>





							<div class="tab-pane" id="highlighted-justified-tab4">
								<!-- Inside page title -->
								<div class="page-header-content">
									<div>
										<h6>
											Urls list:
										</h6>
									</div>
									<div class="heading-elements">
										<a class="btn btn-xs bg-pink-400 btn-raised heading-btn legitRipple" href="#"><i
												class="icon-add position-left"></i> Ajouter </a>
									</div>
								</div>
								<hr>
							</div>




							
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /vertical form -->

</div>
</div>
<!-- /grid -->
{% endblock content_area %}